/* темный цвет основного текста #212121
светлый цвет основного текста #757575
светлый дополнительныйцвет #FFFFFF */

/* :root {
    --main-color: #212121;
    --second-color: #757575;
} */

body {
    color: #212121;
    font-family: Roboto;
}

/* сброс маркированых точек в списках */
.list {
    list-style: none;
}

/* section nav */
.logo {
    color: #000000;
}

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196f3;
}

.nav-contact .link {
    color: #757575;
}

.nav-contact .link:hover,
.nav-contact .link:focus {
    color: #2196f3;
}

/* section hero */
.hero-title {
    color: #FFFFFF;
    text-transform: uppercase;
    background: #2F303A;
}

.hero .hero-button {
    color: #FFFFFF;
    background: #2196F3;
    cursor: pointer;
}

/*секция наши преимущества (benefits)*/
.benefits-title {
    color: #212121;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
}

.benefits-text {
    color: #757575;
    font-size: 14px;
    line-height: 171%;
}

/* секция чем мы занимаемся */
.section-title {
    color: #212211;
    font-size: 36px;
    line-height: 42px;
}

/* секция наша команда */
.card-text {
    color: #757575;
}


/* footer */
.logo-footer {
    color: #2196F3;
}